
.login-radio-btn {
    position: relative;
    top: 5px;
}
.login-get-otp-btn {
    margin-top: -2px;
    height: 41px;
    margin-left: 10px;
}
.left-logo-positions {
    position: absolute;
    left: 15px;
    top: 3px;
    z-index: 9;
}
.right-logo-positions {
    position: absolute;
    right: 15px;
    top: 3px;
    z-index: 9;
}
.sticky.is-sticky {
    position: fixed;
    left: 15px;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
::placeholder {
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
}

p {
    font-size: 15px;
    margin-bottom: 20px;
}

.top-layer-bg {
    background: #ca1515;
    height: 25px;
    line-height: 18px;
    /*background: -webkit-linear-gradient(120deg, #fff999 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(120deg, #ca1515 70%, #fff999 70%);
    background: -o-linear-gradient(120deg, #fff999 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(120deg, #ca1515 70%, #fff999 70%);
    background: -moz-linear-gradient(120deg, #fff999 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(120deg, #ca1515 70%, #fff999 70%);
    background: linear-gradient(120deg, #fff999 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(120deg, #ca1515 70%, #fff999 70%);*/
}
.logo{
    width: 110px !important;
}
.web-name{
    font-size: 30px;
}
.web-name-telugu{
    font-family: 'PallaviBold';
    font-size: 19px !important;
    color: #fff;
    display: block;
}
.bottom-layer-bg {
    background: #bd3207;
}
.carousel-banner-indicators{
    bottom: 5px;
}
.carousel-banner-indicators li {
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.carousel {
    position: relative;
}
.carousel-indicators{
    bottom: 5px;
}
.carousel-indicators li {
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.side-border-bg{
    background-image: url(../images/body-bg9.png); 
    background-repeat: repeat-y; 
    background-size: contain;
    z-index: 999;
}
.main-heading {
    width: 80%;
    background: #f1ae9a;
}
.wt-image {
    position: relative;
    top: 0px;
    left: 40px;
}
.sl-image {
    position: relative;
    top: -10px;
    right: 40px;
}
.left-welcome-image {
    padding-top: 5px;
}
.right-welcome-image {
    padding-top: 5px;
}
.invitees-heading-lg-left{
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inherit;
    text-transform: uppercase;
    letter-spacing: 0px;
    position: absolute;
    right: -3px;
    top: 12px;
    background: #622595;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
}
.invitees-heading-lg-right{
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inherit;
    text-transform: uppercase;
    letter-spacing: 0px;
    position: absolute;
    left: -3px;
    top: 12px;
    background: #622595;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid red !important;
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #343a40;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 2px solid red !important;
    border: 0px;
}
.invitees_carousel_indiators {
    position: absolute;
    bottom: -55px;
}
/* menu css */

.submenu.l-menu {
    min-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}
.submenu.s-row {
    min-width: 250px;
}
.submenu li a {
    font-weight: bold;
    color: #2f367e;
    padding: 13px 18px;
    line-height: 20px;
    text-transform: none;
    font-size: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.menu-in-one-line li a {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submenu li:hover a {
    color: #b93437;
    background-color: #fbe4e5!important;
}

.main-heading {
    background: #f1ae9a;
    height: 1px;
    margin-bottom: 45px;
    text-align: center;
    width: 88%;
}
.main-heading span{
    font-family: 'Eurostar';
    position: relative;
    top: -15px;
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: #bd3207;
    /*background: linear-gradient(47deg,#f9b25e,#f72ba6);*/
    padding: 10px 40px;
    border-radius: 50px;
}
.main-heading span.convention_invitees_heading{
    top: 15px !important;
}
.logos_bg{
    width: 100%;
    padding: 22px 0;
    background: url(../images/header_bg1.png);
    background-size: 108% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.convention_invitees_heading{
    padding: 5px 70px 6px 70px !important;
    background-color: #622595 !important;
}
.invitees_bg{
    width: 100%;
    background: #f9b92b;
    background-image: url(../images/mandala-transparent-background.png);
    /*background-image: url(../images/mandala-transparent-background.png), linear-gradient(#eb01a5, #d13531);*/
    background-repeat: repeat;
    text-align: center;
}
.invitees.d-flex {
    width: 260px !important;
}


/* Contact Us Page */

.contact-box {
    background: #622595;
    padding: 60px 30px 110px 30px;
    border-radius: 5px 5px 5px 5px;
}
.address-box {
    display: flex;
}
.address-box .address-icon {
    background-image: linear-gradient(275deg, #ffffff 0%, #fcfcff 100%);
    min-width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    margin-right: 23px;
    padding: 2px;
}
.address-box .address-icon i {
    font-size: 17px;
    line-height: 20px;
    color: #03228F;
}
.address-box .address-text .label {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}
.clr-blue{
    color: #1273EB;
}
.contact-section .form-controll {
    padding: 20px 20px 20px 20px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background-color: #F6F7F9;
    width: 100%;
    max-width: 100%;
}
input.form-controll {
    outline: none;
}
::-webkit-input-placeholder { /* Edge */
  color: #adadad !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #adadad !important;
}

::placeholder {
  color: #adadad !important;
}

.contact-submit {
    background-color: #622595;
    padding: 13px 40px 13px 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: #fff;
}
.error{
    color:red;
}
.contact-submit:hover {
    background-color: #622595;
    color: #ffffff;
}


/* Event Schedule */

.schedule-date-bg{
    background: linear-gradient( 318deg,rgba(197,146,249,1) 0%,rgba(172,101,244,1) 100%);
}
.schedule-date-bg-dots-img{
    width: 100%;
    height: 100%;
    background: url(../images/dots-img.png) scroll no-repeat;
    background-position: right -75% bottom -35%;
}
.schedule-date-before-triangle:before {
    position: absolute;
    left: -8px;
    top: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #c490f9;
    border-left: 16px solid transparent;
}
.icon1 {
    background: url(../images/calender-bg.png) scroll no-repeat;
    background-position: center;
}
.schedule-location-bg{
    background: linear-gradient(45deg,rgba(254,135,86,1) 0%,rgba(172,101,244,1) 100%);
}
.location-before-triangle:before{
    position: absolute;
    left: -8px;
    top: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #d175ac;
    border-left: 16px solid transparent;
}
.location-bg-dots-img {
    width: 100%;
    height: 100%;
    background: url(../images/dots-img.png) scroll no-repeat;
    background-position: right -15% top -60%;
}
.icon2 {
    background: url(../images/location-point.png) scroll no-repeat;
    background-position: center;
}
.schedule-register-before-triangle:before {
    position: absolute;
    left: -8px;
    /* top: -1px; */
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #3cafce;
    border-left: 16px solid transparent;
}
.schedule-register-bg{
    background: linear-gradient(45deg,rgba(95,207,185,1) 0%,rgba(38,156,218,1) 100%);
}
.register-today-btn {
    border-radius: 80px;
    color: #fff !important;
    border: 2px solid #5fcfba;
    background: #3bafcf;
    padding: 10px 60px;
    z-index: 99 !important;
    font-family: 'Eurostar';
}
.meadia-partner-image{
    width: 280px;
}

/* Convention Messages */

.msg-description{
    min-height: 49px;
    max-height: 49px;
    overflow: hidden;
}
.convention-msg_bg{
    background-image:url(../images/convention-msg-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
/*.description{
    height: 55px;
}*/
.tta-member-image{
    width: 170px;
}
.message-1{
    font-weight: bold;
    font-size: 20px;
    color: #f07b22;
}
.message-2{
    font-weight: bold;
    font-size: 20px;
    color: #da605f;
}
.message-3{
    font-weight: bold;
    font-size: 20px;
    color: #eb5824;
}
.message-4{
    font-weight: bold;
    font-size: 20px;
    color: green;
}
.message-bg-1{
    background: #f07b22;
}
.message-bg-2{
    background: #da605f;
}
.message-bg-3{
    background: #eb5824;
}
.message-bg-4{
    background: green;
}
.msg_flower_bg{
    background-image: url(../images/rangoli.png);
    background-repeat: no-repeat;
    background-position: right top;
}

/* Convention Team */

.headingss-bg {
    /*background-image: linear-gradient(to top, #e9e9e9, #fff);*/
    background: #c15456;
    background-image: url(../images/convention-team-bg.png);
    background-repeat: repeat-y, repeat;
    background-position: left top, left top;
    background-size: cover;
}
.headingss-bg h4{
    color: #fff !important;
}
.headingss-bg h5, .headingss-bg .committee-contact{
    color: #fff;
}
.convention-team-bg{
    width: 100%;
    padding: 0px 0px 20px 0px;
    background: #eb6d55;
    background-image: url(../images/body-bg9.png), url(../images/convention-team-bg.png); 
    background-repeat: repeat-y, repeat;
    background-position: left top, left top;
    background-size: contain, auto;
    text-align: center;
}

li.convention-team-nav-item.d-inline-flex{
    padding: 0px 15px;
    cursor: pointer;
}
.convention-team_active_tab_btn{
    border-bottom: 2px solid #fff;
}
a.convention-team-nav-link{
    cursor: pointer;
    font-family: 'Eurostar';
    font-weight: 600;
}

.convention-team {
    padding: 15px 10px;
    border-radius: 20px;
    height: 275px;
}
.convention-team img{
    box-shadow: 1px 1px 10px grey;
    border: 1px solid #fff;
    padding: 2px;
    background: #efefef;
    /*height:150px;
    object-fit:cover;
    object-position:top;*/
}

/* Invitees */

.invitees img {
    border-radius: 100%;
    padding: 4px;
    background: linear-gradient(0.88turn, #ffffff, #f9b92b, #f9b92b);
}

/* Convention Committe Members */


.carousel-committee-indicators{
    bottom: 5px;
}
.carousel-committee-indicators li {
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.convention-cc-bg{
    background-image: url(../images/committe-list-bg.png), linear-gradient(to right, #750472, #ad2601);
    background-repeat: repeat;
    text-align: center;
    border-radius: 10px;
}
li.convention-committee-nav-item.d-inline-flex{
    padding: 0px 15px;
    cursor: pointer;
}
.convention-committee_active_tab_btn{
    border-bottom: 2px solid red;
}
a.convention-committee-nav-link{
    cursor: pointer;
}
.cc-horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.cc-horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.cc-horizontal-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.convention-leaders-bg {
    background-color: #eff8fb;
    border: 2px solid #e0eef2;
    padding: 5px;
    border-radius: 5px;
}
.convention-leaders-bg img {
    /*border: 2px solid #d4e9ef;*/
    border-radius: 5px !important;
    width:136px;
    height:136px;
    object-fit:cover;
    object-position:top;
}
.phone-stiff {
    background-color: #9c6ebe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 50px 8px 24px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}
/*.convention-committee-member-block{
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 30%);
    padding: 10px;
    border-radius: 10px;
    height: 240px;
    background: #fff;
}*/
.convention-committee-member-block img {
    border-radius: 100%;
    padding: 5px;
    border: 3px solid #622595;
    width: 170px;
}
.see_more_arrow{
    top: 1px;
    position: relative;
    right: 0px;
}

/* Convention Committees Carosel */

.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}
.carosel li {
    border-radius: 2px !important;
    background: rgba(185, 190, 199, 0.5) !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.carosel .active {
    background: #7b68ee !important;
}
.carosel {
    background: #fbfbfb;
    bottom: -10px;
    padding: 10px !important;
    margin-left: 43%;
    margin-right: 43%;
}
.carosel.invitees-carosel li {
    background: rgb(255 255 255) !important;
}
.carosel.invitees-carosel .active {
    background: #fff !important;
}
.invitees-carosel {
    background: #60054c !important;
    margin-left: 41%;
    margin-right: 41%;
}
.carosel_view-all-btn {
    color: #784d98;
    padding: 10px 10px;
    position: relative;
    top: -13px;
    left: -25px;
}
.carosel_view-all-btn:hover {
    color: #784d98;
}

.carosel_slider-btn {
    background: #fafbfc;
    max-width: -webkit-fit-content;
    max-width: fit-content;
    max-width: -moz-fit-content;
    padding: 0 20px;
    margin-left: 34px;
    position: relative;
    right: 0;
    bottom: 0;
}
.carosel-control-prev-icon {
    background: url(../images/arrow-left.png) no-repeat center/16px, #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e9ebf0;
}
.carosel-control-next-icon {
    background: url(../images/arrow-right.png) no-repeat center/16px, #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e9ebf0;
}
.carousel-control-prev {
    left: auto;
    right: 15px !important;
}

.carousel-control-next {
    right: -50px;
}
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 100%;
    width: auto;
    opacity: 1;
}
.carosel-inner:before {
    content: "";
    position: absolute;
    width: 78%;
    height: 100%;
    border-bottom: 2px solid #e9ebf0;
    left: 130px;
    right: 130px;
}
/*.carousel-indicatorss.carosel li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    margin-right: 4px;
    margin-left: 4px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}*/

/* Convention Details */

.convention-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.convention-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Convention Donors */

.donors-bg{
    width: 100%;
    padding: 0px 0px 20px 0px;
    background: #ffd066;
    background-image: url(../images/donors-bg.png);
    background-repeat: repeat;
    text-align: center;
    position: relative;
    z-index: -1;
    /*width: 100%;
    padding: 0px 0px 20px 0px;
    background: #f9b92b;
    background-image: url(../images/body-bg9.png), url(../images/donors-bg.png); 
    background-repeat: repeat-y, repeat;
    background-position: left top, left top;
    background-size: contain, auto;
    text-align: center;*/
}

.convention-donor img {
    background: linear-gradient(#ffb5b6, #622595);
    border-radius: 100%;
    padding: 6px;
    border: 2px solid #622595;
}

/* Events */

.event-block{
    position: relative;
    top: -15px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}
.events-more-details-btn{
    /*background: linear-gradient( 47deg,#f9b25e,#f72ba6);*/
    background: #bd3207;
    color: #fff;
    border: none;
}
.events-more-details-btn:hover{
    color: #fff !important;
}

/* Registration Page */

/*.table-responsive {
    white-space: nowrap;
}*/
.flower-list {
    padding-left: 0px;
}
.flower-list li {
    background: url(../images/flower-icon.png) no-repeat left 3px;
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
}
.flower-list li:last-child {
    padding-bottom: 0px;
}
th{
    font-size: 18px;
    font-family: 'Eurostar' !important;
}
td{
    font-size: 15px;
}
.browse-button {
    background: url(../images/browse-icon.png)no-repeat scroll center 14%, center;
    cursor: pointer;
    min-height: 136px;
}
.browse {
    height: 100%;
    margin-left: 0;
    opacity: 0;
    min-height: 136px;
    cursor: pointer;
}
.p-radio-btn {
    position: absolute;
    top: 2px;
}
.registration-captcha-block{
    border: #dbdbdb 1px solid;
    background-color: #fcfcfc;
    padding: 3px 5px 5px 10px;
}
.captcha-img{
    width: 120px;
    height: 33px;
}
.input-checkbox{
    position: absolute;
    top: 6px;
}

.signin-btn:focus{
    outline: none;
    box-shadow: none;
}

/* TTA Star Registration Form CSS */

.tta-star-music-card-header {
    cursor: pointer;
    border-bottom: none;
    padding: 5px 8px 5px 10px;
    background-color: #92278f;
    color: white;
    text-align: left;
    font-family: "Eurostar" !important;
    font-size: 16px;
}
/*.tta-star-music-card-header.collapsed.card-link {
    border-radius: 5px;
}*/
.tta-star-music-card-header.card-link {
    border-radius: 0px;
}
.tta-star-music-card-body ul li {
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid #f1f1f1;
    background: #fbfbfb;
}
.tta-star-music-card-body ul li:hover {
    background: #fff;
}
.tta-star-music-card-body ul li a {
    text-decoration: none;
    color: #524d4d;
}
.tta-star-music-card-body ul li a i {
    float: right;
    position: relative;
    top: 4px;
    font-size: 10px;
}
.tta-star-music-rotate-icon {
    color: #fff;
    float: right;
    position: relative;
    top: 3px;
}
.tta-star-music-card-header:not(.collapsed) .tta-star-music-rotate-icon {
    transform: rotate(90deg);
}


/*Committees Pgae Css */



.sc-tabs .nav-link.active {
    border-bottom: none !important;
    background-color: #622595;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #ffffff;
}
.nav-tabs.sc-tabs .nav-link:focus,
.nav-tabs.sc-tabs .nav-link:hover {
    border-bottom: none !important;
    border: 0px;
}

/* Committee Inner Page Css */

.committee-contact{
    font-size: 16px;
}
.committee-member img{
    background: #aa80cd;
    padding: 3px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.committee-member-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'Eurostar' !important;
    font-weight: bold;
}
.committee-member-designation{
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}


/* Calender */

.border-left-2-violet{
    border-left: 2px solid #784d98;
}
.calender-events-schedule{
    height: 650px;
    overflow-y: auto;
}
.calender-events-schedule:hover{
    cursor: pointer;
}

.calender-events-schedule::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.calender-events-schedule::-webkit-scrollbar-track {
    background: #f8e8e5; 
}
 
/* Handle */
.calender-events-schedule::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.calender-events-schedule::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/* Business Plan Competition */

.business-plan-competition-list li{
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.business-list li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}
.business-plan-competition-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}
.business-plan-competition-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5; 
}
 
/* Handle */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/* Matrimony */

.matrimony-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.card-header a::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 52px;
    content: "";
    background-image: url(../images/plus.png);
}
.card-header a[aria-expanded="true"]::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 52px;
    content: "";
    background-image: url(../images/minus.png);
}

/* Miss TTA Mrs TTA Details */

.miss-tta-mrs-tta-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.miss-tta-mrs-tta-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Shathamanam Bhavathi Reg */

.shathamanam-bhavathi-reg-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}

.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5; 
}
 
/* Handle */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}
.input-group-addon {
    padding: 7px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
    top: -2px;
    height: 46px;
    left: 7px;
    margin-left: -3px;
    cursor: pointer;
}
.dob-input{
    width: 181px !important;
    height: 36px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.dob-input:focus{
    outline: none !important;
}

/* Hotels Details */

.bg-skyblue {
    background-color: #e3f2ff;
}

.bg-light-orange {
    background-color: #fff4e3;
}

/* Youth Banquet Details */

.youth-banquet-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Venue Details */

.venue-btns{
    padding: 9px 10px 9px 15px;
    border: 2px solid #9371ad;
    border-radius: 5px;
    margin-bottom: 16px;
}
.venue-btns:hover{
    border: 2px solid #fff;
}
.img-b {
    border: #dadad9 1px solid;
}

.icon-positions {
    position: absolute;
    left: 45px;
}

/* Programs Inner Pages */

.stock-investment-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.youth-activity-registration-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

footer{
    background-color: #c70525;
}
footer ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
footer ul li a{
    color: #fff;
}
footer ul li a:hover {
    color: #fff !important;
    text-decoration: none;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 3px;
    padding: 9px 8px;
    color: #eba944;
    transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
    color: rgb(255, 255, 255);
}
i.fas.fa-long-arrow-alt-right {
    position: absolute;
    right: 0;
    left: auto;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}
.footer-form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    padding-left: 0px;
}
.footer-form-control:focus{
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none;
}
.copy-right-bg{
    background: #8a0a20;
}

@media (max-width:992px){
    .fs-md-13{
        font-size: 13px !important;
    }
}

@media (max-width:320px){
    .web-name{
        font-size: 13px !important;
    }
    .helpline{
        font-size: 13px !important;
    }
}

@media (max-width:768px){
    .msg-description {
        min-height: 71px;
        max-height: 71px;
        overflow: hidden;
    }
    .sticky.is-sticky {
        left: 0px;
    }
    .invitees_bg{
        background: #f9b92b;
        background-image: none;
    }
    .header-border1{
        position: relative;
        top: -2px;
    }
    .web-name{
        font-size: 25px;
    }
    .president-message-border {
        left: 55px !Important;
    }
    .dob-input {
        width: 200px !important;
        display: inline-block;
    }
    .horizontal-scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
    }
    .horizontal-scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@media (max-width:767px){
    .px-sm-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .px-sm-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .convention_invitees_heading{
        padding: 5px 70px 6px 70px;
        background-color: #622595;
    }
    .px-sm-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .px-sm-30{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .pt-sm-40{
        padding-top: 40px !important;
    }
    .pt-sm-3{
        padding-top: 3px !important;
    }
    .president-message-border {
        border-left: 0px solid !important; 
        padding: 0px 0 0px 0px !important; 
        position: relative;
        left: 0px !important; 
    }
    .president-message-border:before, .president-message-border:after {
        content: "";
        width: 200px;
        height: 25px;
        border-right: 0px solid !important;
    }  
    .president-message-border:before {
        border-top: 0px solid #000 !important;
    }  
    .president-message-border:after {
        border-bottom: 0px solid #000 !important;
    }
    .top-layer-bg {
        height: 80px;
        line-height: 30px;
    }
    .invitees_bg{
        background: #f9b92b;
    }
    .card-header a::after {
        background-image: none;
    }
    .card-header a[aria-expanded="true"]::after {
        background-image: none;
    }
    .invitee-height{
        height: auto;
    }
    .invitee-width{
        width: 220px;
    }
}

@media (min-width:577px) and (max-width:767px) {
    #myelement::before {
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        left: 55px;
    }
}

@media (max-width: 991px){
    .schedule-register-before-triangle:before{
        display: none;
    }
    .location-before-triangle:before{
        display: none;
    }
    .schedule-date-before-triangle:before{
        display: none;
    }
}

@media (min-width: 992px){
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .py-lg-63point5{
        padding-top: 63.5px !important;
        padding-bottom: 63.5px !important;
    }
    .py-lg-70{
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .py-lg-75{
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
    .mt-lg-80{
        margin-top: 80px;
    }
}

@media (width:768px) and (height:1024px) {
    #myelement::before {
        content: "";
        left: 70px;
    }
}

@media (width:1024px) and (height:768px) {
    #myelement::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 112px;
        left: 24px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .navbar .navbar-nav > li > a.nav-link {
        color: #fff;
        font-size: 20px;
        padding: 5px 15px;
    }
}

@media (max-width: 640px){
    .carosel-inner:before {
        content: '';
        position: absolute;
        width: 52% !important;
    }
    .carosel-control-prev-icon {
        background: url(../images/arrow-left.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
    .carosel-control-next-icon {
        background: url(../images/arrow-right.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
}

@media (max-width: 576px){
    .shadow-small-sm-none{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .fs-sm-11{
        font-size: 11px !important;
    }

    .fs-sm-16{
        font-size: 16px !important;
    }

    .carosel {
        background: transparent !important;
        bottom: 30px !important;
        padding: 10px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }   
    .web-name{
        font-size: 15px !important;
    }
    .web-name-telugu{
        font-size: 15px !important;
        color: #fff;
        display: block;
    }
    span.convention_invitees_heading{
        top: 15px !important;
    }
    .main-heading span {
        position: relative;
        top: -10px;
        font-size: 13px;
    }
    .header-border1 {
        position: relative;
        top: -8px;
    }
    .header-border2 {
        position: relative;
        top: 4px;
    }
    #myelement::before {
        width: 44% !important;
        height: 68% !important;
        top: 16% !important;
        left: 27.5% !important;
    }
    .captcha-img {
        width: 75px;
        height: 33px;
    }
    .dob-input{
        width: 174px !important;
        display: inline-block;
    }
    .fs-xs-15{
        font-size: 15px !important;
    }
    .pt-xs-40{
        padding-top: 40px !important;
    }
    .pt-xs-7{
        padding-top: 7px !important;
    }
    .committee-contact{
        font-size: 13px;
    }
}

@media (max-width: 320px){
    .fs-xs-9{
        font-size: 9px !important;
    }
    .web-name{
        font-size: 12px !important;
    }
    .web-name-telugu{
        font-size: 11px !important;
        color: #fff;
        display: block;
    }
    .main-heading span {
        position: relative;
        top: -10px;
        font-size: 9px;
    }
    .fs-xss-10{
        font-size: 10px !important;
    }
    .fs-xss-11{
        font-size: 11px !important;
    }
    .fs-xss-12{
        font-size: 12px !important;
    }
    .fs-xss-15{
        font-size: 15px !important;
    }
    .captcha-img {
        width: 60px;
        height: 33px;
    }
    .dob-input {
        width: 127px !important;
    }
    .committee-contact{
        font-size: 11px;
    }
}
